.Navbar {
    display: flex;
    background-color: #2A2E36;
    height: 25%;

}

.Nav {
   
    width: 100%;
}


.NavItem {
    
    color: white;
    list-style-type: none;
    margin: 10px;
    

    /* background-color: pink; */

}
.NavLink {
    color: white;
}

.NavLink:visited {
    color: white;
}

.NavLink:visited {
    color: white;
}

.NavItem:hover {

    background: #fff;
    
}

.NavLink:link {

    color:  #2A2E36;
}