.Navbar {
    display: flex;
    background-color: #2A2E36;
    height: 25%;
    

}

/* .Navbar.fixed-navbar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    
} */

.Nav {
   
    width: 100%;
}


.NavItem {
    
    color: white;
    list-style-type: none;
    margin: 10px;
    

    /* background-color: pink; */

}
.NavLink {
    color: white;
}

.NavLink:visited {
    color: white;
}

.NavLink:visited {
    color: white;
}

.NavLink:active {
    color: white;
}

.NavItem:hover {

    background: #fff;
    
}

.NavItem:hover {

    color:  #2A2E36;
    
}

.NavLink:link {

    color:  #2A2E36;
}